.host__informations{
    display: flex;
    text-align: right;
    align-items: center;
    column-gap: 10px;
}

.host__informations p{
    font-size: 18px;
    font-weight: 500;
}

.host__informations--img{
    width: 64px;
    height: 64px;
    border-radius: 60px;
}


@media (max-width: 774px){
    .host__informations--img{
        width: 32px;
        height: 32px;
        border-radius: 30px;
    }
    .host__informations p{
        font-size: 12px;
        margin: 0;
    }
 }