
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 24px;
}

.navLink{
    /* font-size: 3.5vw; */
    font-size: 24px;
    font-weight: 500;
    margin-left:15%;
    color: #FF6060;
    text-decoration: none;
}

.navLink--actived{
    text-decoration: underline;
    text-underline-offset: 5px;
}


