footer{
    display: flex;
    flex-direction: column;
    background-color: #000;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
    justify-self: flex-end;
    /* margin-top: 50px; */
}

footer img{
    width: 120px;
}

footer p{
    color: #fff;
}

@media (max-width: 774px){
    footer{
        padding-bottom: 40px;
    }
    footer p{
        margin-top: 20px;
        font-size: 12px;
    }
}