.error-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #FF6060;
    height: 90vh;
}
.error-page div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-page p{
    font-size: 30px;
}

.error-page h2{
    font-size: 200px;
    margin: 0;
}

.returnLink{
    color: #FF6060;
}


