.error-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #FF6060;
    min-height: 60vh;
}
.error-page div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-page p{
    font-size: 30px;
    font-weight: 500;
}

.error-page h2{
    font-size: 200px;
    font-weight: 700;
    margin: 0;
}

.returnLink{
    color: #FF6060;
    font-weight: 500;
}


@media (max-width: 774px){

    .error-page h2{
        font-size: 100px;
        margin: 0;
    }
    .error-page p{
        font-size: 18px;
        text-align: center;
    }
    .returnLink{
        font-size: 14px;
    }
 }